
  #content form input {
    background-color: #fff;
  }

  #content form textarea {
    background-color: #fff;
    width: 100%;
    margin: 1em auto;
    border: 1px solid #ccc;
    border-style: double;
    border-radius: 2em;
    padding: 1em 2em 1em 2em;
  }

  #content form * {
    background-color: #faf5e7;
    box-sizing: border-box;
  }

  label {
    display: block;
    font-weight: bold;
  }
  
  
  textarea {
    resize: vertical;
  }
  
  #content form button {
    padding: .5em;
    margin: .5em auto;
  }

  #content button[type="submit"] {
    border: 1px solid #ccc;
    border-style: double;
    border-radius: 2em;
    color: #fffff0;
    background-color: #007bff;
    padding: 1em 2em;
    margin: 1em auto;
    cursor: pointer;
  }
  
  #content button[type="submit"]:hover {
    background-color: #005bba;
  }
  
  #content button[type="submit"]:focus {
    outline: none;
  }
  
  /* Optional: Add additional styles to make the form more visually appealing */
  
  #content form {
    background-color: #faf5e7;
    padding: 2em 2em;
    margin: 1em auto;
    border-radius: 2em;
    border: 1px solid #ccc;
  }
  
  #content form input {
    background-color: #fff;
    margin: 1em auto;
    border: 1px solid #ccc;
    border-style: double;
    border-radius: 2em;
    padding: 1em 2em 1em 2em;
    width:100%;
  }

  
  #content form input:focus,
  #content form textarea:focus,
  #content form input:focus-visible,
  #content form textarea:focus-visible {
    border-color: #007bff;
  }
  
  #content form button[type="submit"] {
    transition: background-color 0.3s;
  }
  
  